.storybook-button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  border-radius: 0;
  font-weight: 700;
  line-height: 1;
  font-family: var(--font-mono, 'Courier New', Courier, monospace);
  transition:
    opacity 0.15s ease,
    box-shadow 0.15s ease;
}

.storybook-button--primary {
  background-color: oklch(0.505 0.213 27.518);
  color: oklch(0.971 0.013 17.38);
}

.storybook-button--primary:hover {
  background-color: oklch(0.444 0.177 26.899);
}

.storybook-button--secondary {
  box-shadow: oklch(0.925 0.005 214.3) 0px 0px 0px 1px inset;
  background-color: oklch(0.967 0.001 286.375);
  color: oklch(0.21 0.006 285.885);
}

.storybook-button--secondary:hover {
  background-color: oklch(0.963 0.002 197.1);
}

.storybook-button--small {
  padding: 10px 16px;
  font-size: 12px;
}

.storybook-button--medium {
  padding: 11px 20px;
  font-size: 14px;
}

.storybook-button--large {
  padding: 12px 24px;
  font-size: 16px;
}

.dark .storybook-button--primary {
  background-color: oklch(0.444 0.177 26.899);
  color: oklch(0.971 0.013 17.38);
}

.dark .storybook-button--primary:hover {
  background-color: oklch(0.505 0.213 27.518);
}

.dark .storybook-button--secondary {
  box-shadow: oklch(1 0 0 / 10%) 0px 0px 0px 1px inset;
  background-color: oklch(0.274 0.006 286.033);
  color: oklch(0.985 0 0);
}

.dark .storybook-button--secondary:hover {
  background-color: oklch(0.275 0.011 216.9);
}
